<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
</head>
<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/common/alert.css}">
<link rel="stylesheet" th:href="@{/css/common/form.css}">
<link rel="stylesheet" th:href="@{/css/common/button.css}">

<body>
<div class="login-container">
    <div class="alert-error" th:if="${message}!=null">
        <p th:text="${message}"></p>
        <button class="alert-close" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
    <div class="alert-success" th:if="${message_success}!=null">
        <p th:text="${message_success}"></p>
        <button class="alert-close" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
    <form class="login-form" th:action="@{/login}" method="post">
        <div class="form-group">
            <div class="group-label">
                <label for="phone">Số điện thoại</label>
                <p class="icon-required">*</p></div>
            <input type="tel" id="phone" name="phone" class="form-control">
        </div>

        <div class="form-group">
            <div class="group-label">
                <label for="password">Mật khẩu </label>
                <p class="icon-required">*</p>
            </div>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="form-options">
            <div class="checkbox-group">
                <input type="checkbox" id="show-password" class="checkbox">
                <label for="remember">Hiện mật khẩu</label>
            </div>
            <a th:href="@{/forgot-password}">Quên mật khẩu?</a>
        </div>
        <div class="remember-me">
            <input type="checkbox" id="remember" class="checkbox">
            <label for="remember">Ghi nhớ tài khoản</label>
        </div>

        <button class="button">Đăng nhập</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<script th:href="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    document.getElementById('show-password').addEventListener('change', function () {
        const passwordInput = document.getElementById('password');
        passwordInput.type = this.checked ? 'text' : 'password';
    });
</script>
</body>
</html>